body {
      margin: 0;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      background-color: #f4f4f4;
      color: #333;
    }
    header {
      background-color: #111;
      color: #fff;
      padding: 2rem;
      text-align: center;
    }
    nav a {
      margin: 0 1rem;
      text-decoration: none;
      color: #00bcd4;
    }
    section {
      padding: 2rem;
      max-width: 800px;
      margin: auto;
    }
    .project {
      background-color: #fff;
      padding: 1rem;
      border-radius: 8px;
      margin-bottom: 1.5rem;
      box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    }
    footer {
      text-align: center;
      padding: 1rem;
      background-color: #111;
      color: #fff;
      margin-top: 2rem;
    }

    #githublink {

      text-align: justify;
      display: flex;
      align-items: center;
      justify-content: left;
      gap: 11px;
    }

    #instagramlink{
      text-align: justify;
      display: flex;
      align-items: center;
      justify-content: left;
      gap: 11px;
    }

    #linkedinlink{
      text-align: justify;
      display: flex;
      align-items: center;
      justify-content: left;
      gap: 11px;
    }